<!-- Need to check for permissions -->
<html>
	<head>
		<title>Slipper|Admin</title> <!-- Rename applicable? -->
		<link rel = "stylesheet" type = "text/css" href = "../style.css">
	</head>
	<body>
		<a href = "main.html">Go Back</a>
		<form action = "{{.SubmitActionAddUser}}">
			<!-- Name, MTU ID, ? -->
			Name:<br />
			<input type = "text" name = "name"><br />
			MTU ID:<br />
			<input type = "text" name = "number"><br /><br />
			<input type = "submit" value = "Add User">
		</form>
		<form action = "{{.SubmitActionRemoveUser}}">
			<!-- Name, MTU ID, ? -->
			Name:<br />
			<input type = "text" name = "name"><br />
			MTU ID:<br />
			<input type = "text" name = "number"><br /><br />
			<input type = "submit" value = "Remove User">
		</form>
		
		<!-- Additional actions, such as "clear packages", "clear users", or "remove/add multiple users" -->
		<!-- Can combine multiple forms into single form with dropdown that displays "add user" and "remove user" -->
		
	</body>
</html>