<html>
	<head>
		<title>Slipper|Add Package</title> <!-- Rename applicable? -->
		<link rel = "stylesheet" type = "text/css" href = "../style.css">
	</head>
	<body>
		<a href = "main.html">Go Back</a>
		<div id = "add">
			<form action = "{{.SubmitActionAdd}}">
				<!-- Name, Building Name, Room Num, Package Type-->
				Name:<br />
				<input type = "text" name = "name"><br />
				Building Name:<br />
				<select name = "building">
					<option value = "Wads">Wadsworth Hall</option>
					<option value = "McNair">McNair Hall</option>
					<option value = "DHH">Douglass Houghton Hall</option>
				</select><br />
				Room Number:<br />
				<input type = "text" name = "room"><br />
				Package Type:<br />
				<input type = "text" name = "type"><br /><br />
				<input type = "submit" value = "Submit">
			</form>
		</div>
		<div id = "rem">
			<form action = "{{.SubmitActionRemove}}">
				<!-- Name, Sorting Number -->
				Name:<br />
				<input type = "text" name = "name"><br />
				Sorting Number:<br />
				<input type = "text" name = "number"><br /><br />
				<input type = "submit" value = "Submit">
			</form>
		</div>
	</body>
</html>