<!-- Form handles the checking of signatures from the database -->
<head>
    <title>Slipper|Archive</title> <!-- Rename applicable? -->
    <link rel="stylesheet" type="text/css" href="/pages/css/style.css">
    <script src="dbreturn.js"></script>
</head>
<body>
<center>
    <div id="header">
        <a href="/pages/main.html"><img class="headimg" src="/pages/res/logo.png" alt="Go Back"></a>
    </div>
</center>

<div id="info" class="content">
{{if .Packages}}
    <table>
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Carrier</th>
            <th>Package Type</th>
            <th>Picked Up</th>
            <th>Signature</th>
        </tr>
    {{range .Packages}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Room}}</td>
            <td>{{.Carrier}}</td>
            <td>{{.PackageType}}</td>
            <td>{{.DatePickedUp}}</td>
            <td><img src="{{.Signature}}" width="200px"/></td>
        </tr>
    {{end}}
    </table>
{{else}}
    <p>No packages for that name</p>
{{end}}
</div>
</body>
