<!-- Form handles the checking of signatures from the database -->
<head>
    <title>Slipper|Archive</title>
    <link rel="stylesheet" type="text/css" href="/pages/css/style.css">
</head>
<body>
<center>
    <div id="header">
        <a href="/pages/main.html"><img class="headimg" src="/pages/res/logo.png" alt="Go Back"></a>
    </div>
    <div id="info" class="content">
        {{if .Packages}}
        <table>
            <tr>
                <th>Name</th>
                <th>Room</th>
                <th>Carrier</th>
                <th>Package Type</th>
                <th>Picked Up</th>
                <th>Signature</th>
            </tr>
            {{range .Packages}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Room}}</td>
                <td>{{.Carrier}}</td>
                <td>{{.PackageType}}</td>
                <td>{{.DatePickedUp}}</td>
                <td><img src="{{.Signature}}" width="200px"/></td>
            </tr>
            {{end}}
        </table>
        {{else}}
        <p>No packages for that name/room number</p>
        {{end}}
    </div>
</center>

</body>
