
	<!-- Form handles the updating of packages in the database -->
	<head>
		<title>Slipper|Update Package</title> <!-- Rename applicable? -->
		<link rel = "stylesheet" type = "text/css" href = "css/style.css">
	</head>
	<body>
		<center>
		<div id = "header">
			<!-- TODO: Handle logout -->
			<a href = "main.html"><img class = "headimg" src = "res/logo.png" alt = "Go Back"></a>
		</div>
		</center>
		<div id = "update" class = "update content">
			<form action = "/updatepackage" method = "post">
				<!-- Req: Name, Building Name, Room Num, Package Carrier-->
				Name:<br />
				<input type = "text" name = "name" value = "{{.Name}}"><br />
				Building Name:<br />
				<select name = "building">
					<option value = "Wads" {{if eq .Building "Wads"}}selected="selected"{{end}}>Wadsworth Hall</option>
					<option value = "McNair" {{if eq .Building "McNair"}}selected="selected"{{end}}>McNair Hall</option>
					<option value = "DHH" {{if eq .Building "DHH"}}selected="selected"{{end}}>Douglass Houghton Hall</option>
					<option value = "Hillside" {{if eq .Building "Hillside"}}selected="selected"{{end}}>Hillside Place</option>
				</select><br />
				Room Number:<br />
				<input type = "text" name = "room" value="{{.Room}}"><br />
				Package Carrier:<br />
				<select name = "type">
					<option value = "USPS" {{if eq .Carrier "USPS"}}selected="selected"{{end}}>USPS</option>
					<option value = "UPS" {{if eq .Carrier "UPS"}}selected="selected"{{end}}>UPS</option>
					<option value = "FedEx" {{if eq .Carrier "FedEx"}}selected="selected"{{end}}>FedEx</option>
					<option value = "Other" {{if eq .Carrier "Other"}}selected="selected"{{end}}>Other</option>
				</select><br /><br />
				<input type = "submit" value = "Submit">
			</form>
		</div>
	</body>
