<html>
	<!-- Index page blocks unauthorized users from entry -->
	<head>
		<title>Slipper|Login</title> <!-- Rename applicable? -->
		<link rel = "stylesheet" type = "text/css" href = "pages/css/style.css">
	</head>
	<body>
		<img src = "pages/res/logo.png" alt = "Slipper Logo" class = "logo"><br /><br />
        Log into Slipper:<br />
        <form method="post" action="/login">
            Building Name:<br />
            <select name = "building" title="Wads">
                <option value = "Wads" {{if eq .Building "Wads"}}selected="selected"{{end}}>Wadsworth Hall</option>
                <option value = "McNair" {{if eq .Building "McNair"}}selected="selected"{{end}}>McNair Hall</option>
                <option value = "DHH" {{if eq .Building "DHH"}}selected="selected"{{end}}>Douglass Houghton Hall</option>
                <option value = "Hillside" {{if eq .Building "Hillside"}}selected="selected"{{end}}>Hillside Place</option>
            </select><br />
            Password:<br />
            <input name="password" type="password" />
        </form>
    </body>
</html>